	* {
		border-radius: 6px;
	}
	.wrapper{
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			font-family: 'Oswald', sans-serif;
			margin: 0;
			


		}
		div {
			background: #d9d9d9;
		}

		#loading {
				border:3px solid black;
			margin:1em;
			width: 300px;
			height: 200px;

		}
		img{
			border:3px solid black;
			margin:1em;
			width: 300px;
			height: 200px;
			z-index: 3;
		}
		button {
			height: 2em;
			width: 10em;
			background:#E91E63;
			border:none;
			color:white;
			border-radius: 5px;
			font-size: 1.5em;
			cursor: pointer;
			transition: 0.3s;
		}
		button:hover {
			box-shadow: 0.5px 0.5px 10px  rgba(0,0,0,1);
			transition: 0.3s;		
		}
		input{
		height: 3em;
		width: 20em;
		}
		td,th {
			    padding: 10px 10px;
    			border: 1px solid black;

		}
		table {

			background: #f2f2f2; 
			display: table;
			border-collapse: collapse;
			margin-top: 10px;
			box-shadow: 1px 1px 10px  rgba(0,0,0,0.5);
			color: #676767;

		}
	
		#clear {
			display: none;
		}

		#gallary {
			
			position:relative;
			background: url(https://farm6.staticflickr.com/5282/5324847138_d98c0661ea_b.jpg);
			background-size: 100% 100%;
			box-shadow:0.5px 0.5px 10px  rgba(0,0,0,1);
			margin:1em;
		}
		#gallary::after {
			content:' ';
			position:absolute;
			min-height:100%;
			min-width:100%;
			background: rgba(0,0,0,0.5);
			z-index: 2;
		}
		header{
			background: #E91E63;
			width:100%;
			margin:0;
			border-radius: 0;
			color:white;
		}